.card{
    position: static;
}
.sign-up{
    z-index: 100;
    border-radius: 5px;
    position: absolute;
    top: 5rem;
    margin: 0 auto; 
    left: 0;
    right: 0;
    width:100% !important;
    padding: 0 !important;
}

.close-btn{
    background-color: silver;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    color: #868E96;
    font-size: 0.7em;
    cursor: pointer;
}
.close-btn-sm{
    background-color: #495057;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    color: #fff;
    font-size: 0.7em;
    cursor: pointer;

}
.sign-up-card{
    background-color: #fff;

}
.card-header{
    background-color: #D9FCE4;
    border-bottom: none !important;

}
.header{
    color: #14AE5C;
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
h3{
    font-weight: 700 !important;
    font-size: 1.5em !important;
    text-align: left;
}
.table{
    background-color: #F1F3F5 !important;
    text-align: left;
    color: #495057;
    border: 1px solid silver;
}
.table tr td{
    padding: 0 !important;
}
.txt-input{
    background-color: #F1F3F5 !important;
    border: none !important;
}
::placeholder{
    color: #868E96 !important;
}
.txt-gray{
    color: #868E96 !important;
}
.txt-input:hover, .txt-input:active , .txt-input:focus{
    box-shadow: none !important;
}
.pl-0{
  padding: .0rem .5rem .0rem 0 !important;
}
.td-border{
    border-left: solid 1px silver !important;
}
.sign-up-btn{
    width: 100% !important;
    border-radius: 20px;
    border: 1px solid #E9ECEF !important;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    border-radius: 0 !important;
}
.sign-up-btn-sm{
    border-radius: 20px;
    border: 1px solid #E9ECEF !important;
    font-size: 0.7rem !important;
    font-weight: 500 !important;
    padding: .5rem 1.6rem !important;
}
.create-btn{
    border-radius: 20px !important;
}
.signIn{
    font-size: 0.8em;
    font-weight: 500;
    color: #495057;
}
.signIn-link{
   
    font-weight: 700;
    color: #495DC6;
}
.terms{
    font-size: 0.6rem;
    color: #868E96;
}
.icon{
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

@media screen and (min-width: 800px) {
        .sign-up{
        max-width:75% !important;
    }

}
@media screen and (min-width: 950px) {
    .sign-up{
    max-width:60% !important;
}

}