
.logo{
    text-align: left;
}
.create-account{
    text-align:right;
    font-weight: 700;
    color: #222;
}
.blue_txt{
    color: #339AF0;
}
.search_txt{
    background-color: #F1F3F5 !important;

    border-radius: 35px !important;
    border: 0 !important;
    box-shadow: none; 
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
    flex-grow: 1;
}
::placeholder{
    font-size: .8em;
}
.search-div{
    background-color: #F1F3F5 !important;
    border-radius: 35px !important;
}
.search-icon{
    flex-grow: 0;
    color: #868E96;
}

