.banner {
    background-image: url('../../../public/assets/banner.jpg');
    height: 70vh;
    position: relative;
  }
  .title{
    position:absolute;
    bottom: 6rem;
    color: #fff;
    font-weight: 700;
  }
  .subtitle{
    position:absolute;
    bottom: 3.5rem;
    color: #fff;
  }
 .btn-join{
  border: #fff 1px solid !important;
  background-color: none !important;
  color : #fff !important;
  font-weight: 500 !important;
  font-size: 1.4em !important;
 
 }
 .btn-group:hover,
 .btn-group:focus,
 .btn-group:active{
  border: #fff 1px solid !important;
  background-color: none !important;
  color : #fff !important;
 }
 .txt-white{
  color: #fff;
 }
 .eee{
  background-color: aquamarine !important;
 }